
<h2>Edit the '<%= @pin.url %>' pin</h2>

<h3>Url: <%= @pin.url %></h3>
<h3>Image: <img src="<%= @pin.image %>" ></h3>
<p><h4>Comment:<%= @pin.comment %></h4></p>

<%= form_for @pin do |f| %>
    <%= f.label "Url" %>
    <%= f.text_field :url %><br />
    <%= f.label "Image Url" %>
    <%= f.text_field :image %><br />
    <%= f.label "Comment" %>
    <%= f.text_field :comment %><br />
    <%= f.submit "Edit this Pin" %>
<% end %>