<h2><%= @pin.url %></h2>
<img src="<%= @pin.image %>" >
<p><h3>	<%= @pin.comment %></h3></p>
<p><h4><a href="/pins/<%= @pin.id %>/edit">Edit!</a></h4></p>
<%= link_to 'Destroy',  @pins,  method: :delete, data: { confirm: 'Are you sure?' } %>